@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --purple: #2f192e;
  --purple-light: #30192d;
  --dark-blue: #012677;
  --blue: #5c65c0;
  --skyblue: #00b4fc;
  --light-blue: #005bc5;
  --dark-pink: #f64c57;
  --dark-magenta: #e21b5a;
  --light-green: #61e2c2;
  --light-purple: #d9abff;
  --black: #000;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.profile_card {
  background: #111;
  width: 400px;
  padding: 3rem;
  border-radius: 10px;
  min-height: 400px;
  position: relative;
  color: #fff;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.profile_card .profile_pic {
  margin-top: 15px;
  overflow: hidden;
}
.profile_card .profile_pic img {
  border-radius: 10px;
  height: 220px;
  width: 184px;
}
.profile_card .profile_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.profile_details .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile_details .intro h2 {
  margin-top: 20px;
}
.profile_details .intro h4 {
  background: #1d1d1d;
  font-weight: 400;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 8px;
}
.profile_details .intro .social-icons {
  margin-top: 10px;
  margin-bottom: 25px;
}
.profile_details .intro .social-icons i {
  color: #ddd;
  font-size: 16px;
  background-color: #222;
  margin: 5px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
}
.profile_details .intro .social-icons i:hover {
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.profile_card .contact-info {
  background-color: #1d1d1d;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}
.profile_card .contact-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  margin-bottom: 10px;
}
.contact-info .row .icons i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #111;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.row .icons:hover {
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.row .content {
  min-width: 70%;
}
.row .content span {
  font-size: 12px;
}
.download_btn {
  background: linear-gradient(45deg, #f64c57, #e21b5a);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin-top: 1.5rem;
  border: none;
}
.download_btn a{
  color: #fff;
}
.about {
  background-color: #111;
  max-width: 800px;
  padding: 2rem 3rem;
  border-radius: 10px;
  margin: 1rem;
}
.about h1 {
  color: #f2f2f2;
  margin-bottom: 1.1rem;
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
}
.about h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -50%;
  width: 45%;
  height: 3px;
  background: linear-gradient(45deg, #f64c57, #e21b5a);
}
.about h2 {
  color: #f2f2f2;
  font-size: 2rem;
  margin: 0.5rem 0;
}
.about p {
  color: #555;
  margin: 1.5rem 0;
}
.about .work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.work .workbox {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #333;
  padding: 1rem;
  margin: 1rem;
}
.work .workbox .desc {
  width: 75%;
  color: #555;
}
.work .workbox .desc h3 {
  color: #f2f2f2;
  margin-bottom: 3px;
}
.work .workbox .desc h3:hover{
  color:#e5225a;
}
.work .workbox .desc p {
  margin: 0;
}

/*** Responsive Design****/

@media(max-width:768px)
{
  .about{
    width: 1005;
    max-width: 400px;
    padding: 1rem;
    margin: 1rem;
  }
  .about h1{
    font-size: 2.2rem;
  }
  .about .work{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}
